*
!tools/
tools/verifier/target
!docker/
!Cargo.toml

!blake2s_u32
!common_constants
!circuit_defs
!cs
!examples
!execution_utils
!fft
!field
!full_statement_verifier
!gpu_prover
!gpu_witness_eval_generator
!non_determinism_source
!prover
!reduced_keccak
!risc_v_simulator
!riscv_common
!trace_holder
!transcript
!verifier
!verifier_common
!verifier_generator
!witness_eval_generator
!worker
